@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&display=swap');
*{
  box-sizing: border-box;
}
body{
  /* font-family: 'Jua', sans-serif; */
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #b8dfd8;
}
a{
  text-decoration: none;
  color: #333;
}
.wrap{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
img{
  display: block;
}
.run{
  opacity: 0;
  transition: 1s;
}
.run.to-right{
  transform: translateX(-150px);
}
.run.to-left{
  transform: translateX(150px);
}
.active .run{
  opacity: 1;
  transform: translateX(0);
}
.active .run.delay-0{
  transition-delay: 0s;
}
.active .run.delay-1{
  transition-delay: 0.3s;
}
.active .run.delay-2{
  transition-delay: 0.6s;
}



/* header */

header{
  height: 80px;
  padding: 20px 0 0;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
header::after{
  content: "";
  display: block;
  background-image: url(../image/pattern.png);
  height: 100px;
  background-size: 500px 60px;
  background-repeat: repeat-x;
}
header .wrap{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
header .wrap .logo{}
header .wrap .logo img{
  height: 60px;
}
header .wrap .menu{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
header .wrap .menu li{
  margin-left: 20px;
}
header .wrap .menu li a{
  font-family: 'Jua', sans-serif;
  font-size: 18px;
}
header .wrap .menu li:last-child a{
  display: block;
  color: #f55252;
  animation: changeColor 10s linear infinite;
}

@keyframes changeColor{
  0%{
    color: #f55252;
  }
  20%{
    color: #ff9539;
  }
  40%{
    color: #ffdd00;
  }
  60%{
    color: #0fd937;
  }
  80%{
    color: #016fff;
  }
  100%{
    color: #a04dff;
  }

}

header .material-icons{
  position: absolute;
  top: 10px;
  left: -30px;
  display: none;
}

.header_black{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -2;
  opacity: 0;
}
.header_black.active{
  z-index: 9;
  opacity: 1;
  transition: opacity 0.8s;
}

/* welcome */

.welcome{
  margin-top: 100px;
  height: calc(100vh - 100px);
  border-bottom: 5px dashed #333;
  min-height: 800px;
}
.welcome .wrap{}
.welcome .wrap .album{
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome .wrap .album .spin{
  height: 300px;
  position: absolute;
}
.welcome .wrap .album .cd{
  height: 200px;
  top: 60px;
  right: 150px;
  animation: spin 10s linear infinite;
}
@keyframes spin{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.welcome .wrap .album .cover{
  left: 20px;
}
.welcome .wrap .album .shadow{
  background-color: rgba(0,0,0,0.1);
  width: 300px;
  height: 50px;
  position: absolute;
  bottom: 25px;
  left: 25%;
  border-radius: 50%;
  filter: blur(3px);
}


/* about me */

.about_me{
  background-color: #fff2b0;
  height: 100vh;
  border-bottom: 5px dashed #333;
  min-height: 800px;
}
.about_me .wrap{}
.about_me .left{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
}
.about_me .left .title{
  padding-bottom: 20px;
  font-family: 'Jua', sans-serif;
  font-size: 18px;
}
.about_me .left .profile_pic{
  width: 250px;
  border: 5px solid #fff;
  background-color: #fff;
}
.about_me .right{
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  right: 100px;
  font-family: 'Jua', sans-serif;
}
.about_me .right .info{}
.about_me .right .info p{
  padding-bottom: 20px;
}
.about_me .right .info p span{
  background-color: #b8dfd8;
  border-radius: 3px;
  padding: 0 5px;
}
.about_me .right .introduce{
  padding-top: 50px;
}
.about_me .right .introduce p{
  padding-bottom: 20px;
}
.about_me .right .introduce p span{
  background-color: #b8dfd8;
  border-radius: 3px;
  padding: 0 5px;
}

/* my skill */
.my_skill{
  height: 100vh;
  border-bottom: 5px dashed #333;
  min-height: 800px;
}
.my_skill .wrap{}
.my_skill .skill_part{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}
.my_skill .skill_part .title{
  padding-bottom: 20px;
  font-family: 'Jua', sans-serif;
  font-size: 18px;
}
.my_skill .skill_part .skill{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.my_skill .skill_part .skill .name{
  color: #333;
  font-family: 'Jua', sans-serif;
}
.my_skill .skill_part .skill .per_bar_frame{
  width: 75%;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.my_skill .skill_part .skill .per_bar_frame .per_bar{
  width: 0%;
  height: 100%;
  transition: width 1s;
}
.my_skill .skill_part .skill1 .per_bar_frame .per_bar{background-color: #f55252;}
.my_skill .skill_part .skill2 .per_bar_frame .per_bar{background-color: #ff9539;}
.my_skill .skill_part .skill3 .per_bar_frame .per_bar{background-color: #ffdd00;}
.my_skill .skill_part .skill4 .per_bar_frame .per_bar{background-color: #0fd937;}
.my_skill .skill_part .skill5 .per_bar_frame .per_bar{background-color: #34baff;}
.my_skill .skill_part .skill6 .per_bar_frame .per_bar{background-color: #016fff;}
.my_skill .skill_part .skill7 .per_bar_frame .per_bar{background-color: #a04dff;}
.my_skill .skill_part .skill8 .per_bar_frame .per_bar{background-color: #ff9292;}
.my_skill .skill_part .skill .per_bar_frame .cur_per{
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 10px;
  color: #333;
  font-size: 13px;
}
.my_skill.active .skill_part .skill1 .per_bar_frame .per_bar{width: 80%;}
.my_skill.active .skill_part .skill2 .per_bar_frame .per_bar{width: 80%;}
.my_skill.active .skill_part .skill3 .per_bar_frame .per_bar{width: 65%;}
.my_skill.active .skill_part .skill4 .per_bar_frame .per_bar{width: 80%;}
.my_skill.active .skill_part .skill5 .per_bar_frame .per_bar{width: 65%;}
.my_skill.active .skill_part .skill6 .per_bar_frame .per_bar{width: 70%;}
.my_skill.active .skill_part .skill7 .per_bar_frame .per_bar{width: 50%;}
.my_skill.active .skill_part .skill8 .per_bar_frame .per_bar{width: 10%;}



/* portfolio */
.portfolio{
  height: 100vh;
  background-color: #fff2b0;
  border-bottom: 5px dashed #333;
  min-height: 800px;
}
.portfolio .wrap{
  overflow:visible;
}
.portfolio .swiper-container{
  width: 1200px;
  overflow: hidden;
  position: absolute;  
  top: 50%; 
  transform: translateY(-50%);
}
.portfolio .swiper-container .title{
  padding-bottom: 20px;
  font-family: 'Jua', sans-serif;
  font-size: 18px;
}
.portfolio .swiper-wrapper{}
.portfolio .swiper-slide{
  width: 300px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
}
.portfolio .swiper-slide .monitor{
  width: 300px;
  height: 170px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.portfolio .swiper-slide .monitor .monitor_cont{
  position: absolute;
  width: 280px;
  height: 160px;
  background-size: 100%;
  background-position: 0 0;
  left: 0;
  right: 0;
  top: 10px;
  bottom: unset;
  margin: 0 auto;
  transition: 5s linear;
}
.portfolio .swiper-slide .monitor:hover .monitor_cont{
  background-position: 0 100%;
}
.portfolio .swiper-slide .monitor .monitor_img{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
}
.portfolio .swiper-slide h2{
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Jua', sans-serif;
  font-size: 23px;
}
.portfolio .swiper-slide .btn{
  border: 2px solid #b8dfd8;
  padding: 15px 30px;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  font-weight: bold;
  background-color: #fff;
}
.portfolio .swiper-slide .btn:hover{
  background-color: #b8dfd8;
  color: #fff;
}
.portfolio .swiper-prev,
.portfolio .swiper-next{
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.portfolio .swiper-prev{
  left: -100px;
}
.portfolio .swiper-next{
  right: -100px;
}
.portfolio .material-icons{
  font-size: 30px;
  color: #333;
}
.portfolio .swiper-prev:hover,
.portfolio .swiper-next:hover{
  background-color: #333;
}
.portfolio .swiper-prev:hover .material-icons,
.portfolio .swiper-next:hover .material-icons{
  color: #fff;
}
.portfolio .black{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}
.portfolio .black.show{
  opacity: 1;
  z-index: 11;
  transition: opacity 0.4s;
}
.portfolio .port_pop{
  position: fixed;
  width: 1000px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 12;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  opacity: 0;
  z-index: -1;
}
.portfolio .port_pop.show{
  opacity: 1;
  z-index: 12;
  transition: opacity 0.4s;
}
.portfolio .port_pop .img_part{
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 30px;
  background-size: cover;
  background-position: 50% 0%;
}
.portfolio .port_pop .text_part{
  width: 400px;
  height: 320px;
  position: relative;
}
.portfolio .port_pop .text_part h2{
  background-color: #ffdd00;
  display: inline;
  font-family: 'Jua', sans-serif;
  font-size: 25px;
  padding-top: 5px;
}
.portfolio .port_pop .text_part p{
  padding-top: 10px;
}
.portfolio .port_pop .text_part p:nth-of-type(1){
  padding-top: 30px;
}
.portfolio .port_pop .text_part h4{
  padding-top: 30px;
  font-family: 'Jua', sans-serif;
  font-size: 16px;
}
.portfolio .port_pop .text_part a{
  border: 2px solid #b8dfd8;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.3s;
  font-weight: bold;
  display: inline-block;
  margin-top: 70px;
}
.portfolio .port_pop .text_part a:hover{
  background-color: #b8dfd8;
  color: #fff;
}
.portfolio .port_pop .close{
  position: absolute;
  right: 20px;
  top: 20px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}


/* contact */
.contact{
  height: 100vh;
  min-height: 800px;
}
.contact .wrap{}
.contact form{
  position: absolute;
  width: 100%;
  height: 55%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.contact .title{
  padding-bottom: 20px;
  font-family: 'Jua', sans-serif;
  font-size: 18px;
}
.contact form .formlist{
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  height: 400px;
}
.contact ul{}
.contact ul li{}
.contact ul li label{  
  display: block;
  padding-bottom: 20px;
  font-family: 'Jua', sans-serif;
  font-size: 18px;
  color: #555;
}
.contact ul li .inputbox{}
.contact ul li .inputbox input{
  width: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
}

.contact ul.tel{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
}
.contact ul.tel li{
  padding-bottom: 80px;
}
.contact ul.tel li label{}
.contact ul.tel li .inputbox{}
.contact ul.tel li .inputbox input{
  border: none;
  border-bottom: 2px solid #999;
  padding: 10px 0;
}

.contact ul.message_box{
  width: 60%;
  padding-left: 50px;
  border-left: 3px dashed #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact ul.message_box .content{}
.contact ul.message_box .content label{}
.contact ul.message_box .content textarea{
  width: 100%;
  height: 200px;
  border: 2px solid #999;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
}
.contact ul.message_box .btn_box{
  text-align: right;
  padding-top: 30px;
}
.contact ul.message_box .btn_box button{
  background-color: transparent;
  border: 2px solid #b8dfd8;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
  color: #333;
}  
.contact ul.message_box .btn_box button:hover{
  background-color: #b8dfd8;
  color: #fff;
}

.thankyou_message{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
.thankyou_message article{
  position: absolute;
  min-width: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Nanum Gothic', sans-serif;
}
.thankyou_message article h1{
  color: #333;
  font-size: 22px;
  padding-bottom: 20px;
  word-break: keep-all;
}
.thankyou_message article p{
  font-size: 17px;
  color: #777;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.thankyou_message article .btn_box{
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thankyou_message article .btn_box .message_close{
  background-color: transparent;
  border: 2px solid #b8dfd8;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
}
.thankyou_message article .btn_box .message_close:hover{
  background-color: #b8dfd8;
  color: #fff;
}

/* footer */
footer{
  height: 300px;
  background-color: #79b4b7;
}
footer .wrap{
  background-image: url(../image/ice_cream.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}
footer .wrap img{
  height: 100px;
  position: absolute;
  right: 100px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
footer .wrap p{
  position: absolute;
  color: #fff;
  right: 0;
  left: 0;
  bottom: 10px;
  margin: 0 auto;
  text-align: center;
}
footer .wrap p span{}

/* totop */
#totop{
  width: 42px;
  height: 42px;
  background-color: #4c4c6d;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
#totop .material-icons{}

@media (max-width: 1199px){
  .wrap{
    width: 100%;
  }
  .title{
    text-align: center;
  }


  .welcome .wrap .album .shadow{
    bottom: 22px;
    left: 190px;
  }
  .welcome .wrap .album .cd{
    right: 95px;
  }
  .welcome .wrap .album .cover{
    left: 70px;
  }


  .about_me .left{
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about_me .left .profile_pic{
    width: 160px;
  }
  .about_me .right{
    width: 100%;
    top: 65%;
    right: 0;
    text-align: center;
  }
  .about_me .right .introduce{
    padding-top: 20px;
  }


  .portfolio .swiper-container{
    width: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .portfolio .swiper-next{
    right: 90px;
  }
  .portfolio .swiper-prev{
    left: 90px;
  }
  .portfolio .port_pop{
    width: 800px;
    padding: 0 30px;
  }
  .portfolio .port_pop .img_part{
    width: 350px;
  }
  .portfolio .port_pop .text_part{
    width: 345px;
    height: 330px;
  }
  .portfolio .port_pop .text_part h2{
    font-size: 20px;
  }
  .portfolio .port_pop .text_part p:nth-of-type(1){
    padding-top: 20px;
  }
  .portfolio .port_pop .text_part p{
    font-size: 14px;
  }
  .portfolio .port_pop .text_part h4{
    padding-top: 20px;
    font-size: 15px;
  }


  .contact form{
    padding: 0 50px;
  }
  .contact form::after{
    display: none;
  }


  footer{
    height: 200px;
  }
  footer .wrap{
    background-size: 50%;
  }
  footer .wrap img{
    height: 80px;
  }
}


@media(max-width: 1023px) {}

@media(max-width: 959px) {
  .portfolio .swiper-container{
    width: 60%;
  }
  .portfolio .swiper-prev{
    left: 50px;
  }
  .portfolio .swiper-next{
    right: 50px;
  }
  .portfolio .port_pop{
    width: 600px;
    height: 550px;
    flex-direction: column;
    padding: 35px 0;
  }
  .portfolio .port_pop .img_part{
    width: 300px;
    height: 200px;
  }
  .portfolio .port_pop .text_part{
    width: 500px;
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  .portfolio .port_pop .text_part a{
    margin-top: 30px;
  }
}

@media(max-width: 767px) {
  header .wrap{
    flex-direction: column;
    align-items: center;
  }
  header .wrap .logo img{
    height: 40px;
  }
  header .wrap .menu li a{
    font-size: 14px;
  }


  .about_me .right{
    top: 68%;
  }


  .portfolio .swiper-slide{
    height: 500px;
  }
  .portfolio .swiper-slide .monitor .monitor_cont{
    width: 234px;
    height: 132px;
    top: 9px;
  }
  .portfolio .swiper-slide .monitor .monitor_img{
    width: 250px;
  }
  .portfolio .swiper-slide h2{
    top: 310px;
    font-size: 20px;
  }
  .portfolio .swiper-slide .btn{
    padding: 10px 20px;
    bottom: 40px;
    font-size: 13px;
  }


  .contact form .formlist{
    padding: 25px;
    display: block;
  }
  .contact ul.tel{
    width: 100%;
    flex-direction: unset;
    justify-content: space-between;
    padding-right: 0;
  }
  .contact ul.tel li{
    padding-bottom: 40px;
    width: calc(50% - 10px);
  }
  .contact ul li label{
    padding-bottom: 10px;
  }
  .contact ul.message_box{
    width: 100%;
    padding-left: 0;
    border: none;
  }
  .contact ul.message_box .content textarea{
    height: 170px;
  }
  .contact ul.message_box .btn_box{
    text-align: center;
    padding-top: 10px;
  }
  .contact ul.message_box .btn_box button{
    padding: 7px 30px;
  }
}

@media(max-width: 599px) {
  header{
    width: 200px;
    right: -200px;
    height: 100%;
    padding: 40px 0 0;
  }
  header .wrap{
    justify-content: unset;
  }
  header .wrap .menu{
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
  }
  header .wrap .menu li{
    margin-left: 0;
    margin-bottom: 20px;
  }
  header .wrap .menu li a{
    font-size: 16px;
  }
  header::after{
    display: none;
  }
  header .material-icons{
    display: block;
  }


  .welcome{
    margin-top: 0;
    height: 100vh;
  }
  .welcome .wrap .album{
    width: 470px;
    height: 230px;
  }
  .welcome .wrap .album .shadow{
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 265px;
  }
  .welcome .wrap .album .cd{
    right: 100px;
    height: 137px;
    top: 38px;
  }
  .welcome .wrap .album .cover{
    height: 200px;
  }


  .about_me .right{
    top: 70%;
    font-size: 13px;
    padding: 0 60px;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
  }
  .about_me .right .info p{
    padding-bottom: 10px;
    line-height: 2;
    font-weight: 800;
    word-break: keep-all;
  }
  .about_me .right .info p:nth-child(1){
    text-align: center;
  }
  .about_me .right .introduce p{
    padding-bottom: 10px;
    line-height: 2;
    font-weight: 800;
    word-break: keep-all;
  }


  .my_skill .skill_part{
    width: 100%;
  }
  .my_skill .skill_part .skill{
    justify-content: center;
    position: relative;
  }
  .my_skill .skill_part .skill .name{
    position: absolute;
    z-index: 1;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  }



  .portfolio .swiper-container{
    width: 100%;
  }
  .portfolio .swiper-slide{
    background-color: transparent;
    border-radius: 0;
  }
  .portfolio .swiper-prev,
  .portfolio .swiper-next{
    width: 30px;
    height: 30px;
    top: 55%;
  }
  .portfolio .swiper-prev{
    left: 30px;
  }
  .portfolio .swiper-next{
    right: 30px;
  }
  .portfolio .material-icons{
    font-size: 20px;
  }
  .portfolio .port_pop{
    width: 100%;
    height: 80%;
    border-radius: 0;
    justify-content: center;
  }
  .portfolio .port_pop .text_part{
    width: 100%;
    height: 300px;
    padding: 20px 30px 0;
    word-break: keep-all;
  }
  .portfolio .port_pop .text_part a{
    font-size: 13px;
  }


  .contact form{
    padding: 0;
  }
  .contact form .formlist{
    height: 500px;
    border-radius: 0;
  }
  .contact ul.tel{
    flex-direction: column;
  }
  .contact ul.tel li{
    padding-bottom: 25px;
    width: 100%;
  }
  .contact ul li label{
    font-size: 16px;
  }
  .contact ul li .inputbox input{
    font-size: 13px;
  }
  .contact ul.message_box .content textarea{
    font-size: 13px;
    height: 185px;
  }
  .contact ul.message_box .btn_box{
    padding-top: 20px;
  }


  footer{
    height: 150px;
  }
  footer .wrap{
    background-size: 40%;
    background-position: 15% 50%;
  }
  footer .wrap img{
    height: 50px;
  }
}


@media(max-width: 424px) {
  footer .wrap img{
    right: 60px;
  }
  footer .wrap p{
    font-size: 13px;
  }
}

@media(max-width: 374px) {
  .welcome .wrap .album{
    width: 320px;
    height: 165px;
  }
  .welcome .wrap .album .shadow{
    bottom: 10px;
    width: 180px;
  }
  .welcome .wrap .album .cd{
    right: 60px;
    height: 102px;
    top: 30px;
  }
  .welcome .wrap .album .cover{
    height: 150px;
    left: 40px;
  }


  .about_me .left .profile_pic{
    width: 140px;
  }
  .about_me .right{
    padding: 0 40px;
  }
  .about_me .right .info p{
    font-weight: normal;
  }
  .about_me .right .introduce p{
    font-weight: normal;
  }


  .portfolio .port_pop .img_part{
    width: 100%;
    border: none;
    border-radius: 0;
  }
  .portfolio .port_pop .text_part{
    align-items: start;
  }
  .portfolio .port_pop .text_part h2{
    font-size: 16px;
  }
  .portfolio .port_pop .text_part p{
    font-size: 13px;
  }
  .portfolio .port_pop .text_part p:nth-of-type(1){
    padding-top: 10px;
  }
  .portfolio .port_pop .text_part h4{
    padding-top: 13px;
    font-size: 13px;
  }
  .portfolio .port_pop .close{
    right: 10px;
    top: 10px;
  }


  .thankyou_message article{
    padding: 20px;
  }
  .thankyou_message article h1{
    font-size: 16px;
  }
  .thankyou_message article p{
    font-size: 14px;
  }
  .thankyou_message article .btn_box .message_close{
    padding: 5px 20px;
    font-size: 13px;
  }
}